<html style="padding: 0; margin: 0;">
    <body style="padding-left: 10px; padding-right: 10px; padding-top: 20px; padding-bottom: 20px; font-family: 'Arial', sans-serif; font-size: 18px;">
        <p>Status changes on host {{ .Data.host_name }}:</p>
        <p></p>
        <table>
            <tbody>
                {{ range .Data.checks }}
                    <tr>
                        {{ if eq .checkstatus_status "crit" }}
                            <td rowspan="2" style="color: #fff; background-color: #DE7D75; width: 80px; padding-left: 20px; padding-right: 20px; padding-top: 10px; padding-bottom: 10px; text-align: center;">
                                CRITICAL
                            </td>
                        {{ end }}
                        
                        {{ if eq .checkstatus_status "warn" }}
                            <td rowspan="2" style="color: #000; background-color: #B4B441; width: 80px; padding-left: 20px; padding-right: 20px; padding-top: 10px; padding-bottom: 10px; text-align: center;">
                                WARNING
                            </td>
                        {{ end }}
                    
                        {{ if eq .checkstatus_status "ok" }}
                            <td rowspan="2" style="color: #000; background-color: #A9DC96; width: 80px; padding-left: 20px; padding-right: 20px; padding-top: 10px; padding-bottom: 10px; text-align: center;">
                                OK
                            </td>
                        {{ end }}
                        
                        {{ if eq .checkstatus_status "unkn" }}
                            <td rowspan="2" style="color: #000; background-color: #fff; width: 80px; padding-left: 20px; padding-right: 20px; padding-top: 10px; padding-bottom: 10px; text-align: center;">
                                UNKNOWN
                            </td>
                        {{ end }}
                    
                        <td>
                            {{ .check_name }}
                        </td>
                    </tr>

                    <tr>
                        <td>
                            {{ .checkstatus_message }}
                        </td>
                    </tr>
                {{ end }}
            </tbody>
        </table>
    </body>
</html>