.Button {
    background: #fff;
    color: #2b2b2b;
    border: 2px solid #2b2b2b;
    border-radius: 0;
    letter-spacing: 1px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color ease 0.3s, border-color ease 0.3s, color ease 0.3s;
    text-decoration: none;
    display: inline-block;
    box-sizing: border-box;
    font-family: 'Muli', sans-serif;
    text-transform: uppercase;
    margin: 10px 0;
}

.Button.disabled {
    color: #555;
    border-color: #555;
    cursor: not-allowed;
}

.Button:not(.disabled):hover,
.Button:not(.disabled).active {
    background-color: #336068;
    color: #fff;
    border-color: #336068;
}

.Button svg {
    padding: 0 10px;
}
