.HostPage-check-status {
    padding: 10px 10px;
    color: #333;
    width: 60px;
    text-align: center;
    height: 45px;
    line-height: 45px;
}

.HostPage-check-status.status-ok {
    background: var(--color-ok);
    color: #333;
}

.HostPage-check-status.status-warning {
    background: var(--color-warning);
    color: #fff;
}

.HostPage-check-status.status-critical {
    background: var(--color-error);
    color: #fff;
}
